/*------Header------*/

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 250%;
}


img {

    display: block;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    margin: auto;

}


/*------Body------*/

h2 {
    font-family: 'Slabo 27px', serif;
    text-align: left;
    margin: auto;
    margin-top: 10px;
    display: block;
    background-color: #ffcc99;
    color: #ffffff;
    max-width: 50%;
     padding: 3px;
}


/*------Media Queries------*/

@media
    .wrap {

        min-height: calc (100vh - 89px);
    }
